Equipo
Iker 
Vanessa
Fernanda

In [148]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime

#Visualisation libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
from plotly.offline import init_notebook_mode, iplot 
import plotly.graph_objs as go
import plotly.offline as py
!pip install pycountry
import pycountry
py.init_notebook_mode(connected=True)
import folium 
from folium import plugins

# Image
import numpy as np
from PIL import Image

# Animation
import matplotlib.ticker as ticker
import matplotlib.animation as animation
from IPython.display import HTML

# Graphics in retina format 
%config InlineBackend.figure_format = 'retina' 

# Increase the default plot size and set the color scheme
plt.rcParams['figure.figsize'] = 8, 5


# Disable warnings in Anaconda
import warnings
warnings.filterwarnings('ignore')
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

Requirement already satisfied: pycountry in /usr/local/lib/python3.7/dist-packages (22.3.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pycountry) (57.4.0)

In [91]:
#Deportistas cuyo ranking ha subido al menos dos lugares entre 2010 y 2020.
df = pd.read_csv('forbes-dataset-2020.csv')
df

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [92]:
df1 = df.dropna()
df1

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
10,11,Evander Holyfield,USA,1,8,boxing,1991,60.5
11,12,Mike Tyson,USA,2,1,boxing,1991,31.5
12,13,Michael Jordan,USA,3,8,basketball,1991,16.0
13,14,George Foreman,USA,4,>30,boxing,1991,14.5
14,15,Ayrton Senna,Brazil,5,4,auto racing,1991,13.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [93]:
df1.to_csv("tabla_completa.csv", index = False)
from google.colab import files
files.download("tabla_completa.csv")

In [94]:
df_ej_1 = df1[df.Year >= 2010]
df_ej_1

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
191,192,Tiger Woods,USA,1,1,golf,2010,105.0
192,193,Floyd Mayweather,USA,2,>10,boxing,2010,65.0
193,194,Kobe Bryant,USA,3,2,basketball,2010,48.0
194,195,Phil Mickelson,USA,4,6,golf,2010,46.0
195,196,David Beckham,UK,5,5,soccer,2010,43.7
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [95]:
diccionario = {ord(">"):None,ord("?"):None}
df_ej_1["Previous Year Rank"] = df1["Previous Year Rank"].str.translate(diccionario)
df_ej_1

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
191,192,Tiger Woods,USA,1,1,golf,2010,105.0
192,193,Floyd Mayweather,USA,2,10,boxing,2010,65.0
193,194,Kobe Bryant,USA,3,2,basketball,2010,48.0
194,195,Phil Mickelson,USA,4,6,golf,2010,46.0
195,196,David Beckham,UK,5,5,soccer,2010,43.7
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,100,American Football,2020,59.1

In [96]:
df_ej_1 = df_ej_1.drop (labels=[211,225,226,286,287], axis=0)
df_ej_1

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
191,192,Tiger Woods,USA,1,1,golf,2010,105.0
192,193,Floyd Mayweather,USA,2,10,boxing,2010,65.0
193,194,Kobe Bryant,USA,3,2,basketball,2010,48.0
194,195,Phil Mickelson,USA,4,6,golf,2010,46.0
195,196,David Beckham,UK,5,5,soccer,2010,43.7
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,100,American Football,2020,59.1

In [97]:
df_ej_1["Previous Year Rank"] = df_ej_1["Previous Year Rank"].astype(int)

In [98]:
df_ej_1 ["Jugadores que subieron de rango"] = np.where((df_ej_1 ["Previous Year Rank"] > df_ej_1 ["Current Rank"]),(df_ej_1 ["Previous Year Rank"] - df_ej_1 ["Current Rank"]),np.nan)
df_ej_1

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million),Jugadores que subieron de rango
191,192,Tiger Woods,USA,1,1,golf,2010,105.0,NaN
192,193,Floyd Mayweather,USA,2,10,boxing,2010,65.0,8.0
193,194,Kobe Bryant,USA,3,2,basketball,2010,48.0,NaN
194,195,Phil Mickelson,USA,4,6,golf,2010,46.0,2.0
195,196,David Beckham,UK,5,5,soccer,2010,43.7,NaN
...,...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4,3.0
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9,3.0
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3,3.0
299,300,Kirk Cousins,USA,9,100,American Football,2020,60.5,91.0
300,301,Carson Wentz,USA,10,100,American Football,2020,59.1,90.0

In [99]:
df_ej_1_2 = df_ej_1.dropna()
df_ej_1_2 = df_ej_1_2.drop(["S.NO"],axis =1)
df_ej_1_2

,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million),Jugadores que subieron de rango
192,Floyd Mayweather,USA,2,10,boxing,2010,65.0,8.0
194,Phil Mickelson,USA,4,6,golf,2010,46.0,2.0
196,Roger Federer,Switzerland,6,10,tennis,2010,43.0,4.0
199,Eli Manning,USA,9,10,American Football,2010,39.9,1.0
202,Kobe Bryant,USA,2,3,basketball,2011,53.0,1.0
203,LeBron James,USA,3,7,basketball,2011,48.0,4.0
204,Roger Federer,Switzerland,4,6,tennis,2011,47.0,2.0
207,Cristiano Ronaldo,Portugal,7,13,soccer,2011,38.0,6.0
208,Alex Rodriguez,Dominican,8,12,baseball,2011,35.0,4.0
209,Michael Schumacher,Germany,9,20,F1 racing,2011,34.0,11.0
210,Lionel Messi,Argentina,10,20,soccer,2011,32.3,10.0
212,Manny Pacquiao,Filipino,2,24,Boxing,2012,62.0,22.0
219,Cristiano Ronaldo,Portugal,9,21,Soccer,2012,42.5,12.0
221,Tiger Woods,USA,1,3,Golf,2013,78.1,2.0
222,Roger Federer,Switzerland,2,5,Tennis,2013,71.5,3.0
223,Kobe Bryant,USA,3,6,Basketball,2013,61.9,3.0
230,Lionel Messi,Argentina,10,11,Soccer,2013,41.3,1.0
231,Floyd Mayweather,USA,1,14,Boxing,2014,105.0,13.0
232,Cristiano Ronaldo,Portugal,2,9,Soccer,2014,80.0,7.0
233,LeBron James,USA,3,4,Basketball,2014,72.3,1.0
234,Lionel Messi,Argentina,4,10,Soccer,2014,64.7,6.0
239,Rafael Nadal,Spain,9,14,Tennis,2014,44.5,5.0
240,Matt Ryan,USA,10,100,American Football,2014,43.8,90.0
242,Manny Pacquiao,Philippines,2,11,Boxing,2015,160.0,9.0
245,Roger Federer,Switzerland,5,7,Tennis,2015,67.0,2.0
247,Kevin Durant,USA,7,20,Basketball,2015,54.2,13.0
251,Cristiano Ronaldo,Portugal,1,3,Soccer,2016,88.0,2.0
252,Lionel Messi,Argentina,2,4,Soccer,2016,81.4,2.0
253,LeBron James,USA,3,6,Basketball,2016,77.2,3.0
254,Roger Federer,Switzerland,4,5,Tennis,2016,67.8,1.0
255,Kevin Durant,USA,5,7,Basketball,2016,56.2,2.0
256,Novak Djokovic,Serbia,6,13,Tennis,2016,55.8,7.0
257,Cam Newton,USA,7,20,American Football,2016,53.1,13.0
259,Jordan Spieth,USA,9,20,Golf,2016,52.8,11.0
262,LeBron James,USA,2,3,Basketball,2017,86.2,1.0
267,Rory McIlroy,Northern Ireland,6,17,Golf,2017,50.0,11.0
271,Floyd Mayweather,USA,1,100,Boxing,2018,285.0,99.0
272,Lionel Messi,Argentina,2,3,Soccer,2018,111.0,1.0
274,Conor McGregor,Ireland,4,24,MMA,2018,99.0,20.0
275,Neymar,Brazil,5,18,Soccer,2018,90.0,13.0
279,Matt Ryan,USA,9,100,American Football,2018,67.3,91.0
280,Matthew Stafford,USA,10,100,American Football,2018,59.5,90.0
281,Lionel Messi,Argentina,1,2,Soccer,2019,127.0,1.0
282,Cristiano Ronaldo,Portugal,2,3,Soccer,2019,109.0,1.0
283,Neymar,Brazil,3,5,Soccer,2019,105.0,2.0
284,Canelo Alvarez,Mexico,4,15,Boxing,2019,94.0,11.0
285,Roger Federer,Switzerland,5,7,Tennis,2019,93.4,2.0
290,Kevin Durant,USA,10,11,Basketball,2019,65.4,1.0
291,Roger Federer,Switzerland,1,5,Tennis,2020,106.3,4.0
295,LeBron James,USA,5,8,Basketball,2020,88.2,3.0
296,Stephen Curry,USA,6,9,Basketball,2020,74.4,3.0
297,Kevin Durant,USA,7,10,Basketball,2020,63.9,3.0
298,Tiger Woods,USA,8,11,Golf,2020,62.3,3.0
299,Kirk Cousins,USA,9,100,American Football,2020,60.5,91.0
300,Carson Wentz,USA,10,100,American Football,2020,59.1,90.0

In [100]:
df_ej_1_2.to_csv('Ejercicio_1.csv', index = False)

In [101]:
#Atleta con el menor número de apariciones y mayores ganancias.
df_least = df1.drop_duplicates(subset="Name") #Checar la función de drop los duplicados

df_least

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
10,11,Evander Holyfield,USA,1,8,boxing,1991,60.5
11,12,Mike Tyson,USA,2,1,boxing,1991,31.5
12,13,Michael Jordan,USA,3,8,basketball,1991,16.0
13,14,George Foreman,USA,4,>30,boxing,1991,14.5
14,15,Ayrton Senna,Brazil,5,4,auto racing,1991,13.0
...,...,...,...,...,...,...,...,...
284,285,Canelo Alvarez,Mexico,4,15,Boxing,2019,94.0
286,287,Russell Wilson,USA,6,??,American Football,2019,89.5
287,288,Aaron Rogers,USA,7,??,American Football,2019,89.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [102]:
df_least.sort_values("earnings ($ million)", ascending= False)

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
274,275,Conor McGregor,Ireland,4,24,MMA,2018,99.0
284,285,Canelo Alvarez,Mexico,4,15,Boxing,2019,94.0
275,276,Neymar,Brazil,5,18,Soccer,2018,90.0
286,287,Russell Wilson,USA,6,??,American Football,2019,89.5
287,288,Aaron Rogers,USA,7,??,American Football,2019,89.3
...,...,...,...,...,...,...,...,...
17,18,Arnold Palmer,USA,8,8,golf,1991,9.3
28,29,Jim Courier,USA,9,>40,Tennis,1992,9.0
18,19,Nigel Mansell,UK,9,12,auto racing,1991,9.0
29,30,Monica Seles,USA,10,12,Tennis,1992,8.5
19,20,Sugar Ray Leonard,USA,10,6,golf,1991,8.5

In [103]:
#Deporte y país con mayor número de atletas no rankeados que entraron en la lista de atletas mejor pagados.

table = pd.pivot_table (df1, values = "earnings ($ million)", index = ["Sport","Name"], columns= ["Nationality"],aggfunc=np.sum, fill_value=0)
table

Nationality                      Argentina  Austria  Brazil  Canada  \
Sport             Name
American Football Aaron Rodgers        0.0      0.0     0.0     0.0
                  Aaron Rogers         0.0      0.0     0.0     0.0
                  Cam Newton           0.0      0.0     0.0     0.0
                  Carson Wentz         0.0      0.0     0.0     0.0
                  Drew Brees           0.0      0.0     0.0     0.0
...                                    ...      ...     ...     ...
soccer            David Beckham        0.0      0.0     0.0     0.0
                  Lionel Messi        32.3      0.0     0.0     0.0
                  Ronaldinho           0.0      0.0    68.0     0.0
tennis            Andre Agassi         0.0      0.0     0.0     0.0
                  Roger Federer        0.0      0.0     0.0     0.0

Nationality                      Dominican  Filipino  Finland  France  \
Sport             Name
American Football Aaron Rodgers          0         0        0       0
                  Aaron Rogers           0         0        0       0
                  Cam Newton             0         0        0       0
                  Carson Wentz           0         0        0       0
                  Drew Brees             0         0        0       0
...                                    ...       ...      ...     ...
soccer            David Beckham          0         0        0       0
                  Lionel Messi           0         0        0       0
                  Ronaldinho             0         0        0       0
tennis            Andre Agassi           0         0        0       0
                  Roger Federer          0         0        0       0

Nationality                      Germany  Ireland  Italy  Mexico  \
Sport             Name
American Football Aaron Rodgers        0        0      0       0
                  Aaron Rogers         0        0      0       0
                  Cam Newton           0        0      0       0
                  Carson Wentz         0        0      0       0
                  Drew Brees           0        0      0       0
...                                  ...      ...    ...     ...
soccer            David Beckham        0        0      0       0
                  Lionel Messi         0        0      0       0
                  Ronaldinho           0        0      0       0
tennis            Andre Agassi         0        0      0       0
                  Roger Federer        0        0      0       0

Nationality                      Northern Ireland  Philippines  Portugal  \
Sport             Name
American Football Aaron Rodgers                 0            0       0.0
                  Aaron Rogers                  0            0       0.0
                  Cam Newton                    0            0       0.0
                  Carson Wentz                  0            0       0.0
                  Drew Brees                    0            0       0.0
...                                           ...          ...       ...
soccer            David Beckham                 0            0       0.0
                  Lionel Messi                  0            0       0.0
                  Ronaldinho                    0            0       0.0
tennis            Andre Agassi                  0            0       0.0
                  Roger Federer                 0            0       0.0

Nationality                      Serbia  Spain  Switzerland     UK   USA
Sport             Name
American Football Aaron Rodgers     0.0    0.0          0.0    0.0  49.0
                  Aaron Rogers      0.0    0.0          0.0    0.0  89.3
                  Cam Newton        0.0    0.0          0.0    0.0  53.1
                  Carson Wentz      0.0    0.0          0.0    0.0  59.1
                  Drew Brees        0.0    0.0          0.0    0.0  51.0
...                                 ...    ...          ...    ...   ...
soccer            David Beckham     0.0    0.0          0.0  269.2   0.0
                  Lionel Messi      0.0    0.0          0.0    0.0   0.0
                  Ronaldinho        0.0    0.0          0.0    0.0   0.0
tennis            Andre Agassi      0.0    0.0          0.0    0.0  44.2
                  Roger Federer     0.0    0.0        125.0    0.0   0.0

[108 rows x 20 columns]

In [104]:
# 4. País con mayor número de deportes en el Dataset
pais_top = df1['Nationality'].value_counts().to_frame()
pais_top.style.background_gradient(cmap='Greens')

In [105]:
# 5. ¿Cuántos atletas por deporte tiene cada país?
df_no_duplicados = df1.drop_duplicates(subset = ['Name'])
df_ej_5 = pd.DataFrame(df_no_duplicados.groupby(['Nationality', 'Sport'])['Name'].count())
atletas_por_deporte_pais = df_ej_5.rename(columns = {'Name': 'Número de atletas'})
atletas_por_deporte_pais.style.background_gradient(cmap='Reds')

In [106]:
df_ej_5.to_csv("Ejercicio_5.csv", index = False)
from google.colab import files
files.download("Ejercicio_5.csv")

In [107]:
# 6. Ganancia mínima y máxima (dentro del dataset) por deporte y por país.
ganancia_deporte = df1.groupby('Sport')['earnings ($ million)'].agg(Ganancia_minima = 'min', Ganancia_maxima = 'max')
ganancia_deporte.style.background_gradient(cmap='Blues')

# **Atleta con mayores ganancias por deporte por década**

In [108]:
deportes = df1

In [109]:
pd.unique(deportes['Sport'])

array(['boxing', 'basketball', 'auto racing', 'golf', 'Basketball',
       'Boxing', 'Auto Racing', 'Golf', 'Tennis', 'NFL', 'Auto racing',
       'NBA', 'Baseball', 'Ice Hockey', 'American Football / Baseball',
       'tennis', 'ice hockey', 'F1 Motorsports', 'NASCAR', 'Hockey',
       'Auto Racing (Nascar)', 'F1 racing', 'American Football', 'soccer',
       'baseball', 'cycling', 'motorcycle gp', 'Soccer', 'MMA'],
      dtype=object)

In [110]:
deportes2= deportes.replace({'Boxing': 'boxing', 'Auto Racing':'auto racing', 'Golf':'golf', 'Basketball':'basketball', 'NBA':'basketball', 'Tennis':'tennis','Auto racing':'auto racing', 'Baseball':'baseball', 'Ice Hockey':'Hockey', 'ice hockey':'Hockey', 'American Football / Baseball':'NFL', 'Auto Racing (Nascar)':'NASCAR', 'auto racing':'NASCAR', 'F1 Motorsports':'F1 racing', 'American Football':'NFL', 'Soccer':'soccer'})
pd.unique(deportes2['Sport'])

array(['boxing', 'basketball', 'NASCAR', 'golf', 'auto racing', 'tennis',
       'NFL', 'baseball', 'Hockey', 'F1 racing', 'soccer', 'cycling',
       'motorcycle gp', 'MMA'], dtype=object)

In [111]:
box=deportes2[deportes2.Sport=='boxing']
NASCAR=deportes2[deportes2.Sport=='NASCAR']
golf=deportes2[deportes2.Sport=='golf']
basketball=deportes2[deportes2.Sport=='basketball']
auto=deportes2[deportes2.Sport=='auto racing']
tennis=deportes2[deportes2.Sport=='tennis']
nfl=deportes2[deportes2.Sport=='NFL']
baseball=deportes2[deportes2.Sport=='baseball']
Hockey=deportes2[deportes2.Sport=='Hockey']
F1=deportes2[deportes2.Sport=='F1 racing']
soccer=deportes2[deportes2.Sport=='soccer']
cycling=deportes2[deportes2.Sport=='cycling']
moto=deportes2[deportes2.Sport=='motorcycle gp']
mma=deportes2[deportes2.Sport=='MMA']

In [112]:
box.max()

S.NO                             285
Name                    Riddick Bowe
Nationality                      USA
Current Rank                       9
Previous Year Rank        not ranked
Sport                         boxing
Year                            2019
earnings ($ million)           300.0
dtype: object

In [113]:
NASCAR.max()

S.NO                              191
Name                    Nigel Mansell
Nationality                       USA
Current Rank                       10
Previous Year Rank                >10
Sport                          NASCAR
Year                             2009
earnings ($ million)             34.0
dtype: object

In [114]:
golf.max()

S.NO                            299
Name                    Tiger Woods
Nationality                     USA
Current Rank                     10
Previous Year Rank              >20
Sport                          golf
Year                           2020
earnings ($ million)          115.0
dtype: object

In [115]:
basketball.max()

S.NO                              298
Name                    Stephen Curry
Nationality                       USA
Current Rank                       10
Previous Year Rank         not ranked
Sport                      basketball
Year                             2020
earnings ($ million)             89.0
dtype: object

In [116]:
auto.max()

S.NO                              131
Name                    Nigel Mansell
Nationality                       USA
Current Rank                       10
Previous Year Rank                >40
Sport                     auto racing
Year                             2003
earnings ($ million)             59.0
dtype: object

In [117]:
tennis.max()

S.NO                              292
Name                    Roger Federer
Nationality                       USA
Current Rank                       10
Previous Year Rank                >40
Sport                          tennis
Year                             2020
earnings ($ million)            106.3
dtype: object

In [118]:
nfl.max()

S.NO                           301
Name                     Tom Brady
Nationality                    USA
Current Rank                    10
Previous Year Rank      not ranked
Sport                          NFL
Year                          2020
earnings ($ million)          89.5
dtype: object

In [119]:
baseball.max()

S.NO                              209
Name                    Cecil Fielder
Nationality                       USA
Current Rank                        9
Previous Year Rank                >10
Sport                        baseball
Year                             2011
earnings ($ million)             35.0
dtype: object

In [120]:
Hockey.max()

S.NO                               79
Name                    Wayne Gretzky
Nationality                    Canada
Current Rank                       10
Previous Year Rank               none
Sport                          Hockey
Year                             1997
earnings ($ million)             17.9
dtype: object

In [121]:
F1.max()

S.NO                                   210
Name                    Michael Schumacher
Nationality                        Germany
Current Rank                             9
Previous Year Rank                     >20
Sport                            F1 racing
Year                                  2011
earnings ($ million)                  80.0
dtype: object

In [122]:
soccer.max()

S.NO                           295
Name                    Ronaldinho
Nationality                     UK
Current Rank                    10
Previous Year Rank             >20
Sport                       soccer
Year                          2020
earnings ($ million)         127.0
dtype: object

In [123]:
cycling.max()

S.NO                                150
Name                    Lance Armstrong
Nationality                         USA
Current Rank                          9
Previous Year Rank                  >10
Sport                           cycling
Year                               2005
earnings ($ million)               28.0
dtype: object

In [124]:
moto.max()

S.NO                                190
Name                    Valentino Rossi
Nationality                       Italy
Current Rank                          9
Previous Year Rank                  >10
Sport                     motorcycle gp
Year                               2009
earnings ($ million)               35.0
dtype: object

In [125]:
mma.max()

S.NO                               275
Name                    Conor McGregor
Nationality                    Ireland
Current Rank                         4
Previous Year Rank                  24
Sport                              MMA
Year                              2018
earnings ($ million)              99.0
dtype: object

# **Ganancia total por cada deporte por cada año**

In [126]:
box

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
10,11,Evander Holyfield,USA,1,8,boxing,1991,60.5
11,12,Mike Tyson,USA,2,1,boxing,1991,31.5
13,14,George Foreman,USA,4,>30,boxing,1991,14.5
16,17,"Donovan ""Razor"" Ruddock",Canada,7,>30,boxing,1991,10.2
21,22,Evander Holyfield,USA,2,1,boxing,1992,28.0
31,32,Riddick Bowe,USA,2,>40,boxing,1993,25.0
34,35,George Foreman,USA,5,19,boxing,1993,15.8
36,37,Lennox Lewis,USA,7,>40,boxing,1993,15.0
46,47,Michael Moorer,USA,7,>40,boxing,1994,12.1
47,48,Evander Holyfield,USA,8,12,boxing,1994,12.0
51,52,Mike Tyson,USA,2,not ranked,boxing,1995,40.0
53,54,Riddick Bowe,USA,4,not ranked,boxing,1995,22.2
55,56,George Foreman,USA,6,15,boxing,1995,18.0
60,61,Mike Tyson,USA,1,2,boxing,1996,75.0
65,66,Evander Holyfield,USA,6,14,boxing,1996,15.5
71,72,Evander Holyfield,USA,2,6,boxing,1997,54.3
72,73,Oscar De La Hoya,USA,3,17,boxing,1997,38.0
74,75,Mike Tyson,USA,5,1,boxing,1997,27.0
92,93,Oscar De La Hoya,USA,3,7,boxing,1999,43.5
94,95,Evander Holyfield,USA,5,>10,boxing,1999,35.5
95,96,Mike Tyson,USA,6,>10,boxing,1999,33.0
97,98,Lennox Lewis,USA,8,>10,boxing,1999,29.0
102,103,Mike Tyson,USA,3,6,boxing,2000,48.0
107,108,Lennox Lewis,USA,8,8,boxing,2000,23.0
108,109,Oscar De La Hoya,USA,9,3,boxing,2000,23.0
113,114,Lennox Lewis,USA,4,8,boxing,2002,28.0
116,117,Mike Tyson,USA,7,3,boxing,2002,23.0
125,126,Oscar De La Hoya,USA,5,>10,boxing,2003,30.0
143,144,Oscar De La Hoya,USA,3,>10,boxing,2005,38.0
153,154,Muhammad Ali,USA,3,>10,boxing,2006,55.0
162,163,Oscar De La Hoya,USA,2,>10,boxing,2007,43.0
188,189,Manny Pacquiao,Philippines,6,>10,boxing,2009,40.0
192,193,Floyd Mayweather,USA,2,>10,boxing,2010,65.0
198,199,Manny Pacquiao,Philippines,8,6,boxing,2010,42.0
211,212,Floyd Mayweather,USA,1,?,boxing,2012,85.0
212,213,Manny Pacquiao,Filipino,2,24,boxing,2012,62.0
231,232,Floyd Mayweather,USA,1,14,boxing,2014,105.0
241,242,Floyd Mayweather,USA,1,1,boxing,2015,300.0
242,243,Manny Pacquiao,Philippines,2,11,boxing,2015,160.0
271,272,Floyd Mayweather,USA,1,>100,boxing,2018,285.0
284,285,Canelo Alvarez,Mexico,4,15,boxing,2019,94.0

In [127]:
pd.unique(box['Year'])
print(box.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1991    116.7
1992     28.0
1993     55.8
1994     24.1
1995     80.2
1996     90.5
1997    119.3
1999    141.0
2000     94.0
2002     51.0
2003     30.0
2005     38.0
2006     55.0
2007     43.0
2009     40.0
2010    107.0
2012    147.0
2014    105.0
2015    460.0
2018    285.0
2019     94.0
Name: earnings ($ million), dtype: float64

In [128]:
box.to_csv("Ejercicio_7_box.csv", index = False)
from google.colab import files
files.download("Ejercicio_7_box.csv")

In [129]:
print(NASCAR.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1991    33.0
1995    15.0
1997    19.1
2000    24.5
2002    20.0
2009    34.0
Name: earnings ($ million), dtype: float64

In [130]:

print(golf.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1991     17.8
1992     20.3
1994     28.4
1995     15.1
1996     15.1
1997     26.1
1999     47.0
2000     53.0
2002     69.0
2003     78.0
2004     80.3
2005     87.0
2006    137.0
2007    142.0
2008    160.0
2009    150.0
2010    151.0
2011    121.5
2012    107.2
2013    126.8
2014    114.4
2015    101.4
2016    105.7
2017     50.0
2020     62.3
Name: earnings ($ million), dtype: float64

In [131]:
print(basketball.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1991     16.0
1992     35.9
1993     51.2
1994     46.7
1995     65.8
1996    102.8
1997    120.7
1999     94.0
2000    108.0
2002    129.0
2003    119.0
2004    122.7
2005     95.2
2006     93.0
2007     96.0
2008    122.0
2009    130.0
2010     90.8
2011    101.0
2012    105.3
2013    121.7
2014    133.8
2015    168.5
2016    183.4
2017    146.8
2018    162.4
2019    234.2
2020    226.5
Name: earnings ($ million), dtype: float64

In [132]:
print(auto.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1992    36.5
1993    34.5
1994    24.8
1999    75.5
2000    59.0
2002    20.0
2003    23.0
Name: earnings ($ million), dtype: float64

In [133]:
print(tennis.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1992     28.5
1993     12.6
1994     11.4
1995     16.0
1996     15.2
2003     24.0
2004     28.2
2008     35.0
2010     43.0
2011     47.0
2012     52.7
2013     71.5
2014    100.7
2015     67.0
2016    123.6
2017     64.0
2018     77.2
2019     93.4
2020    106.3
Name: earnings ($ million), dtype: float64

In [134]:
print(nfl.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1992      9.5
1993     11.5
1995     22.5
1996     16.5
2004     42.0
2005     37.5
2006     29.0
2010     78.2
2012     42.4
2013    100.0
2014     43.8
2016     53.1
2018    126.8
2019    178.8
2020    119.6
Name: earnings ($ million), dtype: float64

In [135]:
print(baseball.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1993    12.7
2003    26.0
2004    26.2
2006    29.0
2011    35.0
Name: earnings ($ million), dtype: float64

In [136]:
print(Hockey.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1994    13.5
1995    14.5
1997    17.9
Name: earnings ($ million), dtype: float64

In [137]:
print(F1.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
1996    33.0
1997    35.0
2002    67.0
2003    75.0
2004    80.0
2005    60.0
2006    58.0
2007    76.0
2008    44.0
2009    45.0
2011    34.0
Name: earnings ($ million), dtype: float64

In [138]:
print(soccer.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
2004     28.0
2005     32.5
2007     64.0
2008     87.0
2009     42.0
2010     43.7
2011    110.3
2012     88.5
2013    132.5
2014    144.7
2015    153.4
2016    169.4
2017    173.0
2018    309.0
2019    341.0
2020    304.5
Name: earnings ($ million), dtype: float64

In [139]:
print(cycling.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
2005    28.0
Name: earnings ($ million), dtype: float64

In [140]:
print(moto.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
2005    28.0
2006    30.0
2008    35.0
2009    35.0
Name: earnings ($ million), dtype: float64

In [141]:
print(mma.groupby(['Year'])['earnings ($ million)'].agg('sum'))

Year
2018    99.0
Name: earnings ($ million), dtype: float64